.contact {
  .contact-block {
    margin: 15px 0;
    h3 {
      margin-left: 10px;
    }
    span {
      padding: 0 30px;
    }
  }
  .access-map {
    width: 500px;
    height: 500px;
    margin: 20px auto;
  }
}
