$sidebar_width: 260px;

body {
  background: #F7F7F7;
}

#container {
  width: $main_width;
  margin:0 auto;
  padding: 20px 0;
  @media #{$medium-and-down} {
    width: 100%;
  }
  .content {
    margin: 0 0 30px;
    width: 720px;
    min-height: 500px;
    padding: 20px;
    float: left;
    background: #fff;
    @media #{$medium-and-down} {
      width: auto;
      float: none;
    }
  }
  #sidebar {
    float: right;
    width: 220px;
    background: #fff;
    padding: 5px;
    overflow: scroll;
    @media #{$medium-and-down} {
      width: auto;
      float: none;
    }
    .widget {
      margin-bottom: 20px;
    }
  }
  #sidebar:after{
    clear: both;
  }
}


#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: right;
  color: #fff;
}