$sidebar_width: 260px;

body {
  background: #F7F7F7;
}

#container {
  width: $main_width;
  margin:0 auto;
  padding: 20px 0;
  .content {
    margin: 0 0 30px;
    width: 720px;
    min-height: 500px;
    padding: 20px;
    float: left;
    background: rgba(255,255,255,0.8);
  }
  #sidebar {
    float: right;
    min-height: 100%;
    width: 240px;
    overflow: scroll;
  }
  #sidebar:after{
    clear: both;
  }
}


#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: right;
  color: #fff;
}