@import 'setting';
@import 'mixin';
$bar_width: 600px;

.wrapper {
  position: relative;
}
.section- {
  position: absolute;
  top: 0;
  width: 100%;
  .section-radio {
    display: none;
  }
  .section-name {
    display:block;
    width: 50%;
    position: relative;
    z-index: 10;
    border:solid 1px #888;
    text-align: center;
    &:hover {
      cursor:pointer;
    }
  }
  .section-content {
    display: none;
    width: 100%;
    background: #fff;
    padding: 20px;
    margin:0 0 20px -20px;
  }
  .section-radio:checked ~ .section-name {
    background: #aaa;
  }
  .section-radio:checked ~ .section-content {
    display: block;
  }
}

.section-two {
  margin-left: 50%;
}

.member-list {
  width: 100%;
  margin: 0;
  font-family: cursive;
  .member-grade {
    width: $bar_width;
    margin: 0 auto 15px;
    text-align: center;
    font-size: 30px;
    @media #{$medium-and-down} {
      width: 80%;
      margin: 0 10%;
    }
  }
  ul {
    text-align: center;
    li {
      position: relative;
    }
    .doctor {
      width: 300px;
      margin: 16px auto 48px;
      @media #{$medium-and-down} {
        width: 100%;
      }
      a {
        text-decoration: none;
      }
    }
    .doctor-name {
      font-size: 28px;
    }
    a {
      .member-image {
        width: 160px;
        height: 160px;
        margin: 0 auto;
        img {
          @include border_radius(50%);
          width: 100%;
          vertical-align: bottom;
        }
      }
    }
  }
  .students-area {
    width: 600px;
    margin: 10px auto;
    @media #{$medium-and-down} {
      width: 100%;
    }
    .students {
      width: 250px;
      float: left;
      margin: 20px 25px;
      @media #{$medium-and-down} {
        width: 100%;
        margin: 20px 0;
        float: none;
      }
      .member-name {
        bottom: 0;
        width: 100%;
        font-size: 22px;
      }
    }
  }
}

.old-student-area {
  .students {

  }
}


