// ===================================================================
// mixinやらCSS3やら、extendも。
// ===================================================================
$set_prefix: -webkit-, -moz-, -ms-, -o-, '';
// box-sizing
@mixin box_sizing{
  @each $prefix in $set_prefix {
    #{$prefix}box-sizing: border-box;
  }
}

// border-radius
@mixin border_radius($br_value) {
  @each $prefix in $set_prefix {
    #{$prefix}border-radius: $br_value;
  }
}


// background-size
@mixin bg_size($w, $h: auto) {
  @each $prefix in $set_prefix {
    #{$prefix}background-size: $w $h;
  }
}

//box-shadow
@mixin box_shadow($h: 5px,$v: 5px,$s: 5px,$e: 0px, $color: #333) {
  @each $prefix in $set_prefix {
    #{$prefix}box-shadow: $h $v $s $e $color;
  }
}

//box-shadow-inset
@mixin box_shadow-inset($h: 5px,$v: 5px,$s: 5px,$e: 0px, $color: #333) {
  @each $prefix in $set_prefix {
    #{$prefix}box-shadow: $h $v $s $e $color inset;
  }
}

//text-shadow
@mixin text_shadow($h: 1px,$v: 1px,$s: 0px, $color: #333) {
  @each $prefix in $set_prefix {
    #{$prefix}text-shadow: $h $v $s $color;
  }
}

// transform rotate
@mixin rotate($rotate:-3deg) {
  @each $prefix in $set_prefix {
    #{$prefix}transform: rotate($rotate)
  }
}

// min-height
@mixin min_height($value) {
  min-height: $value;
  _height: $value;
}

// appearance-button
@mixin appearance-button{
  @each $prefix in $set_prefix {
    #{$prefix}appearance: button;
  }
}

@mixin animation($name,$second,$timing,$delay,$roop,$direction){
  @each $prefix in $set_prefix {
    #{$prefix}animation: $name $second $timing $delay $roop $direction;
  }
}

/* clearfix */
.clearfix {
  *zoom: 1;
  &:after {
    content: ".";
    display: block;
    clear: both;
    height: 0;
    visibility: hidden;
  }
}

