$main_width: 1024px;
$header_height:200px;
$add_side_content_width: 602px;
$sidebar_width: $main_width - $add_side_content_width - 60px;
$logo-size:200px;




// color
$gray: #eeeeee;
$main_blue_color:#010624;
$en_link_bar_color: #330406;
$menu_bar_color: #fdfdfd;