@import 'setting';
@import 'mixin';
$header_height:200px;
$logo-size:200px;
#header {
  background: #010624;
  width: 100%;
  height: $header_height;
  padding: 15px;
  .logo-area {
    float: left;
    height: $logo-size;
    width: $logo-size;
    img {
      width: 100%;
    }
  }
  .name-area {
    color: #e8e8e8;
    float: left;
    h1 {
      font-size: 50px;
    }
    h2 {
      font-size: 30px;
    }
  }
}
#menu-bar {
  background: #fdfdfd;
  padding: 15px 0;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  ul {
    @include box_sizing;
    width: 96%;
    margin: 0 2%;
    border-left: dotted 1px #333;
    a {
      @include box_sizing;
      width: 14.285714%;
      text-align: center;
      float: left;
      text-decoration: none;
      border-right: dotted 1px #333;
    }
  }
}