@import 'setting';

$header_height: 60px;
#header {
  width: $contents_width;
  height: $header_height;
  margin: 40px auto 0;
  background: #efefef;
  color: #000;
  .header-contents {
    padding: 5px 20px;
    .title {
      font-size: 25px;
    }
  }
}
#nav {
  width: $contents_width;
  margin: 0 auto;
  background-image:url(../images/nav-back.jpg);
  ul {
    width: $contents_width;
    margin: 0 auto;
    li {
      height: 36px;
      line-height: 36px;
      float: left;
      padding:0 10px;
      border-right: solid 1px #00f;
      a {
        color: #ffff00;
        display: block;
        text-decoration: none;
      }
    }
  }
}

