.single-post {
  .post-header {
    width: 100%;
    border-bottom:solid 2px #1a0b66;
    height: 40px;
    h2 {
      line-height: 40px;
      font-size: 25px;
      float: left;
    }
    .post-date {
      float: right;
      line-height: 40px;
    }
  }
  .post-contents {
    padding: 15px 0;
    h2 {
      margin-top: 20px;
    }
    p {
      width: 90%;
      margin: 10px 5%;
    }
    li {
      margin-left:5%; 
      list-style-type: square;
    }
  }
}