/* clearfix */
.clearfix {
  *zoom: 1; }
  .clearfix:after {
    content: ".";
    display: block;
    clear: both;
    height: 0;
    visibility: hidden; }

#header {
  background: #010624;
  width: 100%;
  height: 200px;
  padding: 15px; }
  #header .logo-area {
    float: left;
    height: 200px;
    width: 200px; }
    #header .logo-area img {
      width: 100%; }
  #header .name-area {
    color: #e8e8e8;
    float: left; }
    #header .name-area h1 {
      font-size: 50px; }
    #header .name-area h2 {
      font-size: 30px; }

#menu-bar {
  background: #fdfdfd;
  padding: 15px 0;
  font-family: "Open Sans", Helvetica, Arial, sans-serif; }
  #menu-bar ul {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    width: 96%;
    margin: 0 2%;
    border-left: dotted 1px #333; }
    #menu-bar ul a {
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      -ms-box-sizing: border-box;
      -o-box-sizing: border-box;
      box-sizing: border-box;
      width: 14.285714%;
      text-align: center;
      float: left;
      text-decoration: none;
      border-right: dotted 1px #333; }
