#header {
  width: 960px;
  height: 60px;
  margin: 40px auto 0;
  background: #efefef;
  color: #000; }
  #header .header-contents {
    padding: 5px 20px; }
    #header .header-contents .title {
      font-size: 25px; }

#nav {
  width: 960px;
  margin: 0 auto;
  background-image: url(../images/nav-back.jpg); }
  #nav ul {
    width: 960px;
    margin: 0 auto; }
    #nav ul li {
      height: 36px;
      line-height: 36px;
      float: left;
      padding: 0 10px;
      border-right: solid 1px #00f; }
      #nav ul li a {
        color: #ffff00;
        display: block;
        text-decoration: none; }
