body {
  background: #160b1a;
  background-image: url(../images/light-wool.png); }

#container {
  width: 912px;
  margin: 0 auto;
  padding: 20px 0;
  background: #fff;
  background-image: url(../images/shadow.gif); }
