/* clearfix */
.clearfix {
  *zoom: 1; }
  .clearfix:after {
    content: ".";
    display: block;
    clear: both;
    height: 0;
    visibility: hidden; }

.member-list {
  width: 100%;
  margin: 0;
  font-family: cursive; }
  .member-list .member-grade {
    width: 600px;
    margin: 20px auto;
    text-align: center;
    font-size: 30px; }
  .member-list ul {
    text-align: center; }
    .member-list ul li {
      position: relative; }
    .member-list ul .professor {
      width: 300px;
      height: 320px;
      margin: 10px auto; }
    .member-list ul a .member-image {
      width: 80%;
      height: 80%;
      margin: 0 10%; }
      .member-list ul a .member-image img {
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        border-radius: 50%;
        width: 100%;
        margin: 20px 0;
        vertical-align: bottom; }
    .member-list ul .member-name {
      position: absolute;
      bottom: 0;
      width: 100%;
      font-size: 22px; }
  .member-list .students-area {
    width: 600px;
    margin: 10px auto; }
    .member-list .students-area .students {
      width: 250px;
      height: 270px;
      float: left;
      margin: 20px 25px; }
