/* clearfix */
.clearfix {
  *zoom: 1; }
  .clearfix:after {
    content: ".";
    display: block;
    clear: both;
    height: 0;
    visibility: hidden; }

.member-list {
  width: 1050px;
  margin: 0 auto; }
  .member-list .member-grade {
    width: 600px;
    margin: 20px auto;
    text-align: center;
    background: #888; }
  .member-list ul .professor {
    margin: 10px auto; }
  .member-list ul .students {
    float: left;
    margin: 20px 25px; }
  .member-list ul li {
    -webkit-box-shadow: 5px 5px 5px 0px #333333;
    -moz-box-shadow: 5px 5px 5px 0px #333333;
    -ms-box-shadow: 5px 5px 5px 0px #333333;
    -o-box-shadow: 5px 5px 5px 0px #333333;
    box-shadow: 5px 5px 5px 0px #333333;
    background: rgba(200, 100, 20, 0.5);
    width: 300px; }
    .member-list ul li a .member-image {
      width: 300px;
      height: 300px; }
      .member-list ul li a .member-image img {
        width: 70%;
        margin: 15%;
        vertical-align: bottom; }
    .member-list ul li a .member-name {
      text-align: center; }
